/* static/style.css */

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fbf4e7;
  color: #333;
  text-align: center;
  padding: 50px 20px;
  margin: 0;
}

@media (min-width: 1000px) {
  body {
    padding: 30px 15px;
  }
}


.tagline {
  font-size: 15px;
  font-weight: 500;
  color: #555;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 1px;
  font-style: italic;
  text-shadow: 0px 0px 1px #ccc;
/*  text-transform: uppercase;*/
}

.logo img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .logo img {
    max-width: 80%;
    margin-bottom: 5px;
  }
}

h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.3;
}

.quote-button {
  background-color: #ff6600;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.quote-button:hover {
  background-color: #e65c00;
}

.contact-info {
  margin-top: 30px;
  color: #444;
}

.contact-info a {
  color: #f26522;
  text-decoration: none;
  font-weight: bold;
}

.social-links {
  margin-top: 10px;
}

.social-icon {
  margin: 0 12px;
  font-size: 1.6rem;
   transition: transform 0.2s ease, color 0.2s ease;
}

.social-icon:hover {
  transform: scale(1.5);
}

.fa-facebook {
  color: #1877F2; /* Facebook blue */
}

.fa-facebook:hover {
  color: #145dbf;
}

.fa-instagram {
  color: #E1306C; /* Instagram pink */
}

.fa-instagram:hover {
  color: #c62a60;
}

.fa-youtube {
  color: #FF0000;
}
.fa-youtube:hover {
  color: #cc0000;
}